.note {
  &-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    padding: 16px;
    margin: 32px;
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: calc(100vw - 250px);
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 16px;
  }

  &-icon {
    cursor: pointer;
  }
}

.close {
  align-self: flex-end;
}
